---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h4>Something awesome</h4>
                <p>It's incredible.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>API</h4>
                <p>Bleg.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>Beautiful</h4>
                <p>Wins beautiful awards.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4">
            <h4>Learn more about Cachet</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <!-- <div class="col-lg-4">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div> -->

        <div class="col-lg-8">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %}
              <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} by <em>{{ site.authors[post.author].display_name }}</em></a>
                <span class="pull-right">{{ post.date | date: "%b %-d, %Y" }}</span>
              </p>
            {% endfor %}
        </div>

    </div>
</div>
