---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h4>Something awesome</h4>
                <p>It's incredible.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>API</h4>
                <p>Bleg.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>Beautiful</h4>
                <p>Wins beautiful awards.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4">
            <h4>Learn more about Cachet</h4>
            <p>
              Cachet is a Simple to use, easy to manage, Status Page project. Ever had problems making sure users know whats going on with your systems.
              Ever wish you would stop getting email asking if your service is down. No Problem!
              Cachet can be easily installed and used to track third party service, and let you users know whats going on!
            </p>
            <div class="thumbnail">
              <img src="https://raw.githubusercontent.com/cachethq/assets/master/images/logo/logo-blue.png" alt="Cachet Logo/Maskot (Barry the Seal)" height="250" width="250" />
              <div class="caption">
                <h3>Barry the Seal, Cachet Maskot</h3>
              </div>
            </div>
            
            <p>But dont take our word for it, its been given <strong>Barry's</strong> Seal of Approval!</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <!-- <div class="col-lg-4">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div> -->

        <div class="col-lg-8">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %}
              <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} by <em>{{ site.authors[post.author].display_name }}</em></a>
                <span class="pull-right">{{ post.date | date: "%b %-d, %Y" }}</span>
              </p>
            {% endfor %}
        </div>

    </div>
</div>
