<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h4>About</h4>
                <div class="hline-b"></div>
                <p>Developed by <a href="https://james-brooks.uk">James Brooks</a> and a whole bunch of awesome <a href="https://github.com/cachethq/Cachet/graphs/contributors">contributors</a>.</p>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h4>Thank you</h4>
                <div class="hline-b"></div>
                <p>A special thank you to Joe Cohen, who has donated the domains.</p>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h4>Social Links</h4>
                <div class="hline-b"></div>
                <p>
                    {% for network in site.social %}
                    <a href="{{ network.url }}" class="btn-social btn-outline"><i class="icons {{ network.icon }}"></i></a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4>Newsletter</h4>
                <div class="hline-b"></div>
                <form class='form-vertical' role='form' action="//cachethq.us9.list-manage.com/subscribe/post?u=654f358550ef074d6601475cd&amp;id=711cf8b66d" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                    <div class="form-group">
                        <label for="mce-EMAIL" class='sr-only'>Email Address  <span class="asterisk">*</span></label>
                        <input type="email" value="" required name="EMAIL" class="form-control " id="mce-EMAIL">
                    </div>
                    <div class='form-group'>
                        <button type="submit" class='btn btn-theme' name="subscribe" id="mc-embedded-subscribe" class="button">Sign up</button>
                    </div>
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_654f358550ef074d6601475cd_711cf8b66d" tabindex="-1" value=""></div>
                </form>
            </div>
        </div>
    </div>
</div>
