<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h4>About</h4>
                <div class="hline-b"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4>Thank you</h4>
                <div class="hline-b"></div>
                <p>A special thank you to Joe Cohen, who has donated the domains.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4>Social Links</h4>
                <div class="hline-b"></div>
                <p>
                    {% for network in site.social %}
                    <a href="{{ network.url }}" class="btn-social btn-outline"><i class="icons ion-social-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>
