<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Keep your customers in the loop</h3>
                <h1>Give them status updates!</h1>
                <h5>It's super simple.</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="https://dl.dropboxusercontent.com/u/7323096/Cachet.png" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
