<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/headroom.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jQuery.headroom.min.js" | prepend: site.baseurl }}"></script>
<!-- <script src="{{ "/assets/js/retina-1.1.0.js" | prepend: site.baseurl }}"></script> -->
<!-- <script src="{{ "/assets/js/jquery.hoverdir.js" | prepend: site.baseurl }}"></script> -->
<!-- <script src="{{ "/assets/js/jquery.hoverex.min.js" | prepend: site.baseurl }}"></script> -->
<!-- <script src="{{ "/assets/js/jquery.prettyPhoto.js" | prepend: site.baseurl }}"></script> -->
<!-- <script src="{{ "/assets/js/jquery.isotope.min.js" | prepend: site.baseurl }}"></script> -->
<!-- <script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script> -->
<script>
    !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
    arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
    d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
    insertBefore(d,q)}(window,document,'script','_gs');
    _gs('GSN-247567-S');
</script>
