<div class="container mtb">
    <div class="row centered">
        <h3 class="mb">MEET OUR TEAM</h3>

        {% for the_author in site.data.team.authors %}
        {% assign author = site.data.team.authors[the_author.first] %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=128" alt="">
            </div><!-- he wrap -->
            <h4>{{ author.display_name }}</h4>
            <h5 class="ctitle">{{ author.position }}</h5>
            <p>{{ author.text }}</p>
            {% for entry in author.social %}
            <a href="{{ entry.url }}" class="a2"><i class="fa fa-{{ entry.title }}"></i></a>
            {% endfor %}
            <div class="hline"></div>
        </div>
        {% endfor %}
    </div>
</div>
