#footerwrap {
    bottom: 0px;
    left: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background: $cachet_base_dark;
}

#footerwrap p {
    color: $cachet_gray_darker;
}

#footerwrap h4 {
    color: $cachet_gray;
}

#footerwrap i {
    font-size: 30px;
    color: $cachet_gray_darker;
    padding-right: 25px;
}

#footerwrap i:hover {
    color: $cachet_primary;
}
