// Theme colours.
$cachet_base_light: #fff;
$cachet_base_medium: #f0f3f4;
$cachet_base_dark: #333;

$cachet_primary: #7ED321;
$cachet_secondary: #6DB81C;

$cachet_link: #7ed321;
$cachet_link_hover: #01579b;

$cachet_gray: #999;
$cachet_gray_darker: #666;

$cachet_icons: #5e5e5e;

// Statuses
$green: #2ECC71;
$dark-green: darken($green, 10%);

$blue: #3498db;
$dark-blue: darken($blue, 10%);

$red: #ff6f6f;
$dark-red: darken($red, 10%);

$teal: #0dccc0;
$dark-teal: darken($teal, 10%);

$yellow: #F7CA18;
$dark-yellow: darken($yellow, 10%);

$pink: #b23f73;
$dark-pink: darken($pink, 10%);

$grey: #ecf0f1;
$dark-grey: darken($grey, 10%);

$orange: #FF8800;
$dark-orange: darken($orange, 10%);