// Theme colours.
$cachet_base_light: #fff;
$cachet_base_medium: #f0f3f4;
$cachet_base_dark: #333;

$cachet_primary: #7ED321;
$cachet_secondary: #6DB81C;

$cachet_link: #7ed321;
$cachet_link_hover: #01579b;

$cachet_gray: #999;
$cachet_gray_darker: #666;

$cachet_icons: #5e5e5e;

// Statuses
$cachet_green: #2ECC71;
$cachet_dark-green: darken($cachet_green, 10%);

$cachet_blue: #3498db;
$cachet_dark-blue: darken($cachet_blue, 10%);

$cachet_red: #ff6f6f;
$cachet_dark-red: darken($cachet_red, 10%);

$cachet_teal: #0dccc0;
$cachet_dark-teal: darken($cachet_teal, 10%);

$cachet_yellow: #F7CA18;
$cachet_dark-yellow: darken($cachet_yellow, 10%);

$cachet_pink: #b23f73;
$cachet_dark-pink: darken($cachet_pink, 10%);

$cachet_grey: #ecf0f1;
$cachet_dark-grey: darken($cachet_grey, 10%);

$cachet_orange: #FF8800;
$dark-orange: darken($cachet_orange, 10%);