.hline {
    border-bottom: 2px solid $cachet_base_medium;
}

.hline-w {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 25px;
}

.hline-b {
    border-bottom: 1px solid $cachet_gray_darker;
    margin-bottom: 25px;
}
