// Brand colours.
$brand-primary:         darken(#428bca, 6.5%) !default;
$brand-success:         $cachet-primary !default;
$brand-info:            $cachet-blue !default;
$brand-warning:         $cachet-orange !default;
$brand-danger:          $cachet-red !default;

// Default border radius
$border-radius-base:        2px !default;
$border-radius-large:       4px !default;
$border-radius-small:       1px !default;
