.tpl6 h3 {
    color: #fff;
    margin: 0;
    padding:40px 5px 0;
    font-size: 16px;
    text-transform: uppercase;
}

.tpl6 .dmbutton {
    display: inline-block;
    margin: 30px 5px 20px 5px;
    font-size: 13px;
}

.tpl6 .bg {
    height: 100%;
    width: 100%;
    background-color: $cachet-base-medium;
    background-color: rgba($cachet-base-medium, .9);
    text-align:center;
}
